
<ion-content class="background">
	<ion-grid>
		<ion-row>
			<ion-col class="text-center">
				<img src="../../assets/imgs/icon.png" class="logo marginT100">
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-card>
					<ion-card-header class="logo_heading">
						Login
					</ion-card-header>
					<ion-card-content>
						<ion-list no-lines>
							<div class="spacer" style="height: 10px;"></div>
							<ion-item>
								<ion-input type="email" placeholder="Username" [(ngModel)]="userData.email"></ion-input>
							</ion-item>
							<div class="spacer" style="height: 5px;"></div>
							<ion-item>
								<ion-input type="password" placeholder="Password" [(ngModel)]="userData.password"></ion-input>
							</ion-item>
							<div class="spacer" style="height: 10px;"></div>
							<button ion-button block round outline color="light" (click)="signin()">Login</button>
						</ion-list>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
