page-complain-list {
	.list-md .item-block .item-inner {
	    border-bottom: 1px solid #dedede !important;
	}

	.no_complain_text{
		height: 100%;
		width: 100%;
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
	}

}
