<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Complain List</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addComplain()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<div *ngIf='no_complain' class="no_complain_text">
		<h4>{{no_complain}}</h4>
	</div>

	<ion-list *ngIf='complain_list'>
		<ion-item *ngFor="let list of complain_list" (click)="openComplain(list.title)">{{list.title}}</ion-item>
	</ion-list>
</ion-content>
