<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Emergency Order</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-row>
		<ion-col>
			<ion-list>
				<ion-item>
					<mat-form-field>
						<textarea matInput placeholder="Description" [(ngModel)]="product_detail.detail"></textarea>
					</mat-form-field>
				</ion-item>
				
			</ion-list>		
		</ion-col>
	</ion-row>
	
	<button mat-raised-button color="primary" (click)=placeEmergencyOrder()>Place Order</button>
	

</ion-content>
