<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Regular Order</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-row>
		<ion-col width-100>
			<ion-list>
				<ion-item>
					<mat-form-field>
						<mat-select placeholder="Product Name" [(ngModel)]="product_detail.product_id_fk" (change)="onSelectProduct()">
							<mat-option *ngFor="let product of productNames" [value]="product.id">{{product.name}}</mat-option>
						</mat-select>
					</mat-form-field>
				</ion-item>

				<ion-item *ngIf="productOptions">
					<mat-select multiple [(ngModel)]="product_detail.sku" placeholder="Product Option">
						<mat-optgroup *ngFor="let po of productOptions" [label]="po.vtitle">
							<mat-option *ngFor="let pov of po.variations" [value]="pov.id">
								{{pov.value}}
							</mat-option>
						</mat-optgroup>
					</mat-select>	
				</ion-item>

				<ion-item>
					<mat-form-field>
						<input matInput placeholder="Quantity" [(ngModel)]="product_detail.quantity">
					</mat-form-field>
				</ion-item>

				<ion-item>
					<mat-form-field>
						<input matInput placeholder="Price" [(ngModel)]="product_detail.price">
					</mat-form-field>
				</ion-item>

				<ion-item>
					<mat-form-field>
						<textarea matInput placeholder="Description" [(ngModel)]="product_detail.detail"></textarea>
					</mat-form-field>
				</ion-item>
				
			</ion-list>		
		</ion-col>
	</ion-row>
	
	<button mat-raised-button color="primary" (click)=addProduct()>Place Order</button>
	

</ion-content>
