page-issue-list {
	.list-ios > .item-block:first-child{
		border-top: 0px;
	}
	.item-ios{
		cursor: pointer;
	}
	.list-md .item-block .item-inner {
	    border-bottom: 1px solid #dedede !important;
	}

	.no_issue_text{
		height: 100%;
		width: 100%;
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
	}
}
