<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issue List</ion-title>
    <ion-buttons end>
		<button ion-button icon-only (click)="addIssue()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<div *ngIf='no_issue' class="no_issue_text">
		<h4>{{no_issue}}</h4>
	</div>

	<ion-list *ngIf="issue_list">
		<ion-item *ngFor="let list of issue_list" (click)="openIssue(list.title)">{{list.title}}</ion-item>
	</ion-list>
</ion-content>
