<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Rota</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf='no_rota' class="no_rota_text">
		<h4>No Rota Set for this week</h4>
	</div>

	<div *ngIf="rota">
		<div *ngFor="let p of rota">
			<accordion title="{{p.dayName}}" >{{p.description}}</accordion>  
		</div>
	</div>
</ion-content>
