// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activeHightlight{
	background-color: map-get($colors,primary);
}

.item-md.item-block .item-inner {
    border-bottom: 0px !important;
}

ion-icon{
	font-size: 22px;
}

.label-ios {
    font-size: 20px;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background-color: #F58020 !important;
}

.item-md{
	font-size: 2rem;
}

.label-md {
    margin: 17px 0px 17px 0;
}