<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Complain</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	
	<ion-item>
		<mat-form-field>
			<input matInput placeholder="Title" [(ngModel)]="complain.title">
		</mat-form-field>
	</ion-item>
	<ion-item>	
		<mat-form-field>
			<textarea matInput placeholder="Description" [(ngModel)]="complain.description"></textarea>
		</mat-form-field>
	</ion-item>
	
	<button mat-raised-button color="primary" (click)="addComplain()">Send</button>
</ion-content>
