<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Emergency Order List</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addEmergencyOrder()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<div *ngIf='no_emergency_order' class="no_emergency_order_text">
		<h4>{{no_emergency_order}}</h4>
	</div>

	<ion-list *ngIf='no_emergency_order_list'>
		<ion-item *ngFor="let list of emergency_order_list">{{list.title}}</ion-item>
	</ion-list>
</ion-content>
