<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issue</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-item>
		<mat-form-field class="example-full-width">
			<input matInput placeholder="Title" [(ngModel)]="issue.title">
		</mat-form-field>
	</ion-item>
	<ion-item>	
		<mat-form-field class="example-full-width">
			<textarea matInput placeholder="Description" [(ngModel)]="issue.detail"></textarea>
		</mat-form-field>
	</ion-item>
	
	<button mat-raised-button color="primary" (click)="addIssue()">Create Issue</button>
	

</ion-content>
