accordion {

    .card-header{
        background-color: map-get($colors, primary);
        color: #fff;
    }
    .card-content {
        padding: 0px 16px; 
        max-height: 0px;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    	border:0px;
    }
    ion-card-header{
    	padding: 6px 16px !important;
    }
}