<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list style="padding-top: 15px;">
			<button menuClose ion-item *ngFor="let p of pages" [class.activeHightlight]="checkActive(p.page)" (click)="openPage(p.page)">
				<ion-icon [name]="p.icon"></ion-icon>
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>

	<ion-footer>
		<ion-toolbar>
			<ion-row>
				<ion-col>
					<button ion-button full clear icon-left (click)="logout()">
						<ion-icon name="sign-out"></ion-icon>
						Logout
					</button>
				</ion-col>
			</ion-row>
		</ion-toolbar>
	</ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content main></ion-nav>